div{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-top: 1.5rem;

}

input {
    padding: 1.2rem;
    font-size: 1.1rem;
    border-radius: 10rem 0 0 10rem;
    height: 3rem;
    width: 20rem;
    background-color: rgb(255, 255, 255);
    font-weight: 500;
    outline: none;
  }

  div button{
    color: grey;
    height: 3rem;
    width: 5rem;
    font-size: 1rem;
    border-radius: 0 10rem 10rem 0;
    border: none;
    background-color: rgb(205, 35, 35);
    color: aliceblue;
    opacity: 0.8;
    outline: none;
  }

  div button:hover{
    opacity: 1;
    cursor:pointer;
  }

